
.article-header {
    height: 240px;
    width: 100%;
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.author-image {
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    border-radius: 100%;
}