
.articles {
    background-color: white;
    border-radius: 30px;

    @media (max-width: 500px) {
        h2, .h2 {
            font-size: 18px;
            margin: auto 10px !important;
            color: rgb(35, 34, 34) !important;
        }

    }

    .brand-text {
        font-family: 'Playball', cursive;

    }

    .articles-header-container {
        display: flex;
        justify-content: space-between;
        height: 50px;
    }

    .show {
        opacity: 0.5;
        pointer-events:none;

    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
