.comment {
    .comment-icon {
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        border-radius: 100%;    
        align-self: center;
    }
    button {
        margin-left: auto;
        background-color: rgba(25, 118, 210, 0.04);
        &:hover {
            background-color: rgba(25, 118, 210, 0.08);

        }
    }
}
